<div class="row">
  <div class="col-md-12">
    <div class="card black-border">
      <h3 class="title text-center">お客様の声</h3>
      <div class="pr-4 pl-4">
        <div class="customer-reviews owl-carousel">
          <div class="item">
            <div class="image">
              <img src="img/customers/customer-1.jpg" width="68" height="68"
                alt="A.G.Smith, CTO/CIO, ARRIBA Co.,Ltd. 様">
            </div>
            <p>
              今までお仕事をさせて頂いた海外の方の中で、群を抜いて対応スキルも技術力も高かったです。今後も発注したいと思ってます。
            </p>
            <p class="text-right text-small">A.G.Smith, CTO/CIO, ARRIBA Co.,Ltd. 様</p>
          </div>
          <div class="item">
            <div class="image">
              <img src="img/customers/customer-2.jpg" width="68" height="68" alt="Ohashi, Digital Axe Co., Ltd. 様">
            </div>
            <p>
              今までお仕事をさせて頂いた海外の方の中で、群を抜いて対応スキルも技術力も高かったです。今後も発注したいと思ってます。
            </p>
            <p class="text-right text-small">Ohashi, Digital Axe Co., Ltd. 様</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
