<div id="member-1" class="modal member-modal">
  <div class="profile-picture">
    <img src="img/members/member-bg-1.png">
  </div>
  <div class="avatar">
    <img src="img/members/member-1.jpg">
  </div>
  <div class="info">
    <div class="name text-center">Luu Tuan Anh</div>
    <div class="position text-center">CEO</div>
    <p class="mt-2">
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです <br>
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです
    </p>
  </div>
</div>
<div id="member-2" class="modal member-modal">
  <div class="profile-picture">
    <img src="img/members/member-bg-1.png">
  </div>
  <div class="avatar">
    <img src="img/members/member-2.jpg">
  </div>
  <div class="info">
    <div class="name text-center">Dang Van Luan</div>
    <div class="position text-center">COO</div>
    <p class="mt-2">
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです <br>
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです
    </p>
  </div>
</div>
<div id="member-3" class="modal member-modal">
  <div class="profile-picture">
    <img src="img/members/member-bg-1.png">
  </div>
  <div class="avatar">
    <img src="img/members/member-3.jpg">
  </div>
  <div class="info">
    <div class="name text-center">Keisuke Mizuno</div>
    <div class="position text-center">Technical Advisor</div>
    <p class="mt-2">
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです <br>
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです
    </p>
  </div>
</div>
<div id="member-4" class="modal member-modal">
  <div class="profile-picture">
    <img src="img/members/member-bg-1.png">
  </div>
  <div class="avatar">
    <img src="img/members/member-4.jpg">
  </div>
  <div class="info">
    <div class="name text-center">Nguyen Tuan Anh</div>
    <div class="position text-center">BRSE</div>
    <p class="mt-2">
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです <br>
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです
    </p>
  </div>
</div>
<div id="member-5" class="modal member-modal">
  <div class="profile-picture">
    <img src="img/members/member-bg-1.png">
  </div>
  <div class="avatar">
    <img src="img/members/member-5.jpg">
  </div>
  <div class="info">
    <div class="name text-center">Le Thu Ha</div>
    <div class="position text-center">Comtor</div>
    <p class="mt-2">
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです <br>
      テキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーですテキストはダミーです
    </p>
  </div>
</div>
